/**
 * Breakpoint tokens used in the theme.
 *
 */

:root {
  --mds-horizontal-space-mode-xl(1280px)-viewport-width: 1280px;
  --mds-horizontal-space-mode-xl(1280px)-viewport-min-width: 1025px;
  --mds-horizontal-space-mode-xl(1280px)-columns: 12;
  --mds-horizontal-space-mode-xl(1280px)-margin: var(--space-600);
  --mds-horizontal-space-mode-xl(1280px)-gutter: var(--border-radius-300);
  --mds-horizontal-space-mode-xl(1280px)-gutter-body-left: var(--space-700);
  --mds-horizontal-space-mode-lg(1024px)-viewport-width: 1024px;
  --mds-horizontal-space-mode-lg(1024px)-viewport-min-width: 769px;
  --mds-horizontal-space-mode-lg(1024px)-columns: 12;
  --mds-horizontal-space-mode-lg(1024px)-margin: var(--space-600);
  --mds-horizontal-space-mode-lg(1024px)-gutter: var(--space-300);
  --mds-horizontal-space-mode-lg(1024px)-gutter-body-left: var(--space-700);
  --mds-horizontal-space-mode-md(768px)-viewport-width: 768px;
  --mds-horizontal-space-mode-md(768px)-viewport-min-width: 481px;
  --mds-horizontal-space-mode-md(768px)-columns: 6;
  --mds-horizontal-space-mode-md(768px)-margin: var(--space-400);
  --mds-horizontal-space-mode-md(768px)-gutter: var(--space-300);
  --mds-horizontal-space-mode-md(768px)-gutter-body-left: var(--space-0);
  --mds-horizontal-space-mode-sm(480px)-viewport-width: 480px;
  --mds-horizontal-space-mode-sm(480px)-viewport-min-width: 288px;
  --mds-horizontal-space-mode-sm(480px)-columns: 6;
  --mds-horizontal-space-mode-sm(480px)-margin: var(--space-300);
  --mds-horizontal-space-mode-sm(480px)-gutter: var(--space-200);
  --mds-horizontal-space-mode-sm(480px)-gutter-body-left: var(--space-0);
  --mds-vertical-space-mode-xl(1280px)-section-spacing: var(--space-600);
  --mds-vertical-space-mode-xl(1280px)-component-spacing: var(--space-400);
  --mds-vertical-space-mode-lg(1024px)-section-spacing: var(--space-500);
  --mds-vertical-space-mode-lg(1024px)-component-spacing: var(--space-300);
  --mds-vertical-space-mode-md(768px)-section-spacing: var(--space-400);
  --mds-vertical-space-mode-md(768px)-component-spacing: var(--space-300);
  --mds-vertical-space-mode-sm(480px)-section-spacing: var(--space-300);
  --mds-vertical-space-mode-sm(480px)-component-spacing: var(--space-200);
  --mds-font-size-mode-xl(1280px)-heading2xl: var(--type-size-550);
  --mds-font-size-mode-xl(1280px)-heading-xl: var(--type-size-500);
  --mds-font-size-mode-xl(1280px)-headling-lg: var(--type-size-450);
  --mds-font-size-mode-xl(1280px)-body-lg: var(--type-size-225);
  --mds-font-size-mode-lg(1024px)-heading2xl: var(--type-size-550);
  --mds-font-size-mode-lg(1024px)-heading-xl: var(--type-size-500);
  --mds-font-size-mode-lg(1024px)-headling-lg: var(--type-size-350);
  --mds-font-size-mode-lg(1024px)-body-lg: var(--type-size-225);
  --mds-font-size-mode-md(768px)-heading2xl: var(--type-size-550);
  --mds-font-size-mode-md(768px)-heading-xl: var(--type-size-450);
  --mds-font-size-mode-md(768px)-headling-lg: var(--type-size-400);
  --mds-font-size-mode-md(768px)-body-lg: var(--type-size-225);
  --mds-font-size-mode-sm(480px)-heading2xl: var(--type-size-450);
  --mds-font-size-mode-sm(480px)-heading-xl: var(--type-size-400);
  --mds-font-size-mode-sm(480px)-headling-lg: var(--type-size-350);
  --mds-font-size-mode-sm(480px)-body-lg: var(--type-size-200);
}