/**
 * Spacing tokens by Breakpoint.
 * Use these for containers/sections
 */

/** Viewport variables list and calc -- 
we're not currently setting the viewport widths for each size in variables. 
We're handling that in media queries so no sizing **/


/** 1280px, XL breakpoint **/
@media (min-width: 1280px) {
  :root {
    --mds-breakpoint-horizontal-space-columns: 12;
    --mds-breakpoint-horizontal-space-margin: var(--space-600);
    --mds-breakpoint-horizontal-space-gutter: var(--space-300);
  };
};

/** 1024px, LG breakpoint **/
@media (min-width: 1024px) {
  :root {
    /* We decided to remove these, right? 
    --mds-breakpoint-horizontal-space-viewport-width: 1024px;
    --mds-breakpoint-horizontal-space-viewport-min-width: calc(var(--mds-breakpoint-horizontal-space-viewport-width) -1); 
    */
    --mds-breakpoint-horizontal-space-columns: 12;
    --mds-breakpoint-horizontal-space-margin: var(--space-600);
    --mds-breakpoint-horizontal-space-gutter: var(--space-300);
  };
};

/** 768px, MD breakpoint **/
@media (min-width: 768px) {
  :root {
    --mds-breakpoint-horizontal-space-columns: 6;
    --mds-breakpoint-horizontal-space-margin: var(--space-400);
    --mds-breakpoint-horizontal-space-gutter: var(--space-300);
  };
};
  /** 480px, SM breakpoint **/
@media (min-width: 480px) {
  :root {
    --mds-breakpoint-horizontal-space-columns: 6;
    --mds-breakpoint-horizontal-space-margin: var(--space-300);
    --mds-breakpoint-horizontal-space-gutter: var(--space-200);
    --mds-text-heading-2xl: var(--font-weight-semibold) var(--font-size-500)/1.1 var(--font-family);
    --mds-text-heading-xl: var(--font-weight-semibold) var(--font-size-450)/1.2 var(--font-family);
    --mds-text-heading-lg: var(--font-weight-semibold) var(--font-size-400)/1.2 var(--font-family);
  };
};
/** 320px, XS breakpoint**/
@media (min-width: 320px) {
  :root {
    --mds-breakpoint-horizontal-space-viewport-min-width: 288px;
    --mds-breakpoint-horizontal-space-columns: 6;
    --mds-breakpoint-horizontal-space-margin: var(--space-200);
    --mds-breakpoint-horizontal-space-gutter: var(--space-100);
  };
};

/** add the text variables after this in the semantic.css file **/