/**
 * Breakpoint tokens used in the theme.
 *
 */

:root {
  --mds-horizontal-space-xl-viewport-width: 1280px;
  --mds-horizontal-space-xl-viewport-min-width: 1025px;
  --mds-horizontal-space-xl-columns: 12;
  --mds-horizontal-space-xl-margin: var(--space-600);
  --mds-horizontal-space-xl-gutter: var(--border-radius-300);
  --mds-horizontal-space-xl-gutter-body-left: var(--space-700);
  --mds-horizontal-space-lg-viewport-width: 1024px;
  --mds-horizontal-space-lg-viewport-min-width: 769px;
  --mds-horizontal-space-lg-columns: 12;
  --mds-horizontal-space-lg-margin: var(--space-600);
  --mds-horizontal-space-lg-gutter: var(--space-300);
  --mds-horizontal-space-lg-gutter-body-left: var(--space-700);
  --mds-horizontal-space-md-viewport-width: 768px;
  --mds-horizontal-space-md-viewport-min-width: 481px;
  --mds-horizontal-space-md-columns: 6;
  --mds-horizontal-space-md-margin: var(--space-400);
  --mds-horizontal-space-md-gutter: var(--space-300);
  --mds-horizontal-space-md-gutter-body-left: var(--space-0);
  --mds-horizontal-space-sm-viewport-width: 480px;
  --mds-horizontal-space-sm-viewport-min-width: 288px;
  --mds-horizontal-space-sm-columns: 6;
  --mds-horizontal-space-sm-margin: var(--space-300);
  --mds-horizontal-space-sm-gutter: var(--space-200);
  --mds-horizontal-space-sm-gutter-body-left: var(--space-0);
  --mds-vertical-space-xl-section-spacing: var(--space-600);
  --mds-vertical-space-xl-component-spacing: var(--space-400);
  --mds-vertical-space-lg-section-spacing: var(--space-500);
  --mds-vertical-space-lg-component-spacing: var(--space-300);
  --mds-vertical-space-md-section-spacing: var(--space-400);
  --mds-vertical-space-md-component-spacing: var(--space-300);
  --mds-vertical-space-sm-section-spacing: var(--space-300);
  --mds-vertical-space-sm-component-spacing: var(--space-200);
  --mds-font-size-xl-heading2xl: var(--type-size-550);
  --mds-font-size-xl-heading-xl: var(--type-size-500);
  --mds-font-size-xl-headling-lg: var(--type-size-450);
  --mds-font-size-xl-body-lg: var(--type-size-225);
  --mds-font-size-lg-heading2xl: var(--type-size-550);
  --mds-font-size-lg-heading-xl: var(--type-size-500);
  --mds-font-size-lg-headling-lg: var(--type-size-350);
  --mds-font-size-lg-body-lg: var(--type-size-225);
  --mds-font-size-md-heading2xl: var(--type-size-550);
  --mds-font-size-md-heading-xl: var(--type-size-450);
  --mds-font-size-md-headling-lg: var(--type-size-400);
  --mds-font-size-md-body-lg: var(--type-size-225);
  --mds-font-size-sm-heading2xl: var(--type-size-450);
  --mds-font-size-sm-heading-xl: var(--type-size-400);
  --mds-font-size-sm-headling-lg: var(--type-size-350);
  --mds-font-size-sm-body-lg: var(--type-size-200);
}