/**
 * Color Theme tokens used in the theme.
 *
 */

:root {
  --mds-background-transparent: var(--color-utility-white-transparent);
  --mds-background-surface-default: var(--color-utility-gray);
  --mds-background-section-neutral-lowest: var(--color-gray-100);
  --mds-background-section-neutral-low: var(--color-gray-300);
  --mds-background-section-neutral-mid: var(--color-gray-800);
  --mds-background-section-neutral-high: var(--color-gray-1100);
  --mds-background-section-neutral-highest: var(--color-gray-1300);
  --mds-background-section-neutral-disabled: var(--color-gray-200);
  --mds-background-section-primary-lowest: var(--color-bay-blue-100);
  --mds-background-section-primary-mid: var(--color-bay-blue-1000);
  --mds-background-section-primary-highest: var(--color-bay-blue-1300);
  --mds-background-section-secondary-lowest: var(--color-berkshires-green-100);
  --mds-background-section-secondary-mid: var(--color-berkshires-green-900);
  --mds-background-section-secondary-highest: var(--color-berkshires-green-1300);
  --mds-background-section-tertiary-lowest: var(--color-independence-cranberry-100);
  --mds-background-section-tertiary-mid: var(--color-independence-cranberry-800);
  --mds-background-section-tertiary-highest: var(--color-independence-cranberry-1300);
  --mds-background-section-utility-danger-lowest: var(--color-utility-danger-red-100);
  --mds-background-section-utility-danger-mid: var(--color-utility-danger-red-600);
  --mds-background-section-utility-danger-highest: var(--color-utility-danger-red-1300);
  --mds-background-section-utility-warning-lowest: var(--color-utility-warning-yellow-100);
  --mds-background-section-utility-warning-mid: var(--color-utility-warning-yellow-600);
  --mds-background-section-utility-warning-highest: var(--color-utility-warning-yellow-1300);
  --mds-background-section-utility-success-lowest: var(--color-utility-success-green-100);
  --mds-background-section-utility-success-mid: var(--color-utility-success-green-600);
  --mds-background-section-utility-success-highest: var(--color-utility-success-green-1300);
  --mds-background-adaptive-neutral-lowest: var(--color-gray-100);
  --mds-background-adaptive-neutral-low: var(--color-gray-300);
  --mds-background-adaptive-neutral-mid: var(--color-gray-900);
  --mds-background-adaptive-neutral-high: var(--color-gray-1000);
  --mds-background-adaptive-neutral-highest: var(--color-gray-1300);
  --mds-background-adaptive-neutral-disabled: var(--color-gray-200);
  --mds-background-adaptive-primary-lowest: var(--color-bay-blue-200);
  --mds-background-adaptive-primary-low: var(--color-bay-blue-400);
  --mds-background-adaptive-primary-mid: var(--color-bay-blue-1000);
  --mds-background-adaptive-primary-high: var(--color-bay-blue-1100);
  --mds-background-adaptive-primary-highest: var(--color-bay-blue-1300);
  --mds-background-adaptive-secondary-lowest: var(--color-berkshires-green-200);
  --mds-background-adaptive-secondary-low: var(--color-berkshires-green-600);
  --mds-background-adaptive-secondary-mid: var(--color-berkshires-green-900);
  --mds-background-adaptive-secondary-high: var(--color-berkshires-green-1100);
  --mds-background-adaptive-secondary-highest: var(--color-berkshires-green-1300);
  --mds-background-adaptive-tertiary-lowest: var(--color-independence-cranberry-200);
  --mds-background-adaptive-tertiary-low: var(--color-independence-cranberry-500);
  --mds-background-adaptive-tertiary-mid: var(--color-independence-cranberry-900);
  --mds-background-adaptive-tertiary-high: var(--color-independence-cranberry-1100);
  --mds-background-adaptive-tertiary-highest: var(--color-independence-cranberry-1300);
  --mds-background-adaptive-highlight-mid: var(--color-duckling-yellow-800);
  --mds-background-adaptive-utility-danger-lowest: var(--color-utility-danger-red-100);
  --mds-background-adaptive-utility-danger-low: var(--color-utility-danger-red-300);
  --mds-background-adaptive-utility-danger-mid: var(--color-utility-danger-red-600);
  --mds-background-adaptive-utility-danger-high: var(--color-utility-danger-red-900);
  --mds-background-adaptive-utility-danger-highest: var(--color-utility-danger-red-1300);
  --mds-background-adaptive-utility-warning-lowest: var(--color-utility-warning-yellow-100);
  --mds-background-adaptive-utility-warning-low: var(--color-utility-warning-yellow-300);
  --mds-background-adaptive-utility-warning-mid: var(--color-utility-warning-yellow-900);
  --mds-background-adaptive-utility-warning-high: var(--color-duckling-yellow-1100);
  --mds-background-adaptive-utility-warning-highest: var(--color-utility-warning-yellow-1300);
  --mds-background-adaptive-utility-success-lowest: var(--color-utility-success-green-100);
  --mds-background-adaptive-utility-success-low: var(--color-utility-success-green-300);
  --mds-background-adaptive-utility-success-mid: var(--color-utility-success-green-600);
  --mds-background-adaptive-utility-success-high: var(--color-utility-success-green-900);
  --mds-background-adaptive-utility-success-highest: var(--color-utility-success-green-1300);
  --mds-background-overlay: #00000099;
  --mds-white: var(--color-utility-white);
  --mds-black: var(--color-utility-black);
  --mds-inverse: var(--color-utility-white);
  /** Text Colors **/
  --mds-text-and-icons-neutral-default: var(--color-gray-1300);
  --mds-text-and-icons-neutral-muted: var(--color-gray-900);
  --mds-text-and-icons-neutral-disabled: var(--color-gray-700);
  --mds-text-and-icons-primary-mid: var(--color-bay-blue-1000);
  --mds-text-and-icons-seconday-mid: var(--color-berkshires-green-900);
  --mds-text-and-icons-utility-danger-mid: var(--color-utility-danger-red-600);
  --mds-text-and-icons-utility-warning-mid: var(--color-utility-warning-yellow-600);
  --mds-text-and-icons-utility-success-mid: var(--color-utility-success-green-900);
  /** Border Colors **/
  --mds-border-neutral-lowest: var(--color-gray-200);
  --mds-border-neutral-low: var(--color-gray-400);
  --mds-border-neutral-mid: var(--color-gray-600);
  --mds-border-neutral-high: var(--color-gray-750);
  --mds-border-primary-lowest: var(--color-bay-blue-200);
  --mds-border-primary-low: var(--color-bay-blue-400);
  --mds-border-primary-mid: var(--color-bay-blue-1000);
  --mds-border-primary-high: var(--color-bay-blue-1100);
  --mds-border-primary-highest: var(--color-bay-blue-1300);
  --mds-border-secondary-lowest: var(--color-berkshires-green-200);
  --mds-border-secondary-low: var(--color-berkshires-green-600);
  --mds-border-secondary-mid: var(--color-berkshires-green-900);
  --mds-border-secondary-high: var(--color-berkshires-green-1100);
  --mds-border-secondary-highest: var(--color-berkshires-green-1300);
  --mds-border-focus-on-light: var(--color-utility-focus-blue-600);
  --mds-border-focus-on-dark: var(--color-utility-focus-blue-300);
  --mds-border-utility-danger-low: var(--color-utility-danger-red-300);
  --mds-border-utility-danger-mid: var(--color-utility-danger-red-600);
  --mds-border-utility-warning-low: var(--color-utility-warning-yellow-300);
  --mds-border-utility-warning-mid: var(--color-utility-warning-yellow-600);
  --mds-border-utility-success-low: var(--color-utility-success-green-300);
  --mds-border-utility-success-mid: var(--color-utility-success-green-600);
}
