/**
 * Color Theme tokens used in the theme.
 *
 */

:root {
  --mds-background-transparent: var(--mds-color-utility-base-white-transparent);
  --mds-background-surface-default: #fdfdfd;
  --mds-background-section-brand-neutral-lowest: var(--mds-color-brand-gray-100);
  --mds-background-section-brand-neutral-low: var(--mds-color-brand-gray-300);
  --mds-background-section-brand-neutral-mid: var(--mds-color-brand-gray-800);
  --mds-background-section-brand-neutral-high: var(--mds-color-brand-gray-1100);
  --mds-background-section-brand-neutral-highest: var(--mds-color-brand-gray-1300);
  --mds-background-section-brand-neutral-disabled: var(--mds-color-brand-gray-200);
  --mds-background-section-brand-primary-lowest: var(--mds-color-brand-bay-blue-100);
  --mds-background-section-brand-primary-mid: var(--mds-color-brand-bay-blue-1000);
  --mds-background-section-brand-primary-highest: var(--mds-color-brand-bay-blue-1300);
  --mds-background-section-brand-secondary-lowest: var(--mds-color-brand-berkshires-green-100);
  --mds-background-section-brand-secondary-mid: var(--mds-color-brand-berkshires-green-1000);
  --mds-background-section-brand-secondary-highest: var(--mds-color-brand-berkshires-green-1300);
  --mds-background-section-brand-tertiary-lowest: var(--mds-color-brand-independence-cranberry-100);
  --mds-background-section-brand-tertiary-mid: var(--mds-color-brand-independence-cranberry-800);
  --mds-background-section-brand-tertiary-highest: var(--mds-color-brand-independence-cranberry-1300);
  --mds-background-section-utility-danger-lowest: var(--mds-color-utility-danger-red-100);
  --mds-background-section-utility-danger-mid: var(--mds-color-utility-danger-red-600);
  --mds-background-section-utility-danger-highest: var(--mds-color-utility-danger-red-1300);
  --mds-background-section-utility-warning-lowest: var(--mds-color-utility-warning-yellow-100);
  --mds-background-section-utility-warning-mid: var(--mds-color-utility-warning-yellow-600);
  --mds-background-section-utility-warning-highest: var(--mds-color-utility-warning-yellow-1300);
  --mds-background-section-utility-success-lowest: var(--mds-color-utility-success-green-100);
  --mds-background-section-utility-success-mid: var(--mds-color-utility-success-green-600);
  --mds-background-section-utility-success-highest: var(--mds-color-utility-success-green-1300);


  /* Adaptive/Interactive state colors */
  --mds-background-adaptive-brand-neutral-lowest: var(--mds-color-brand-gray-100);
  --mds-background-adaptive-brand-neutral-low: var(--mds-color-brand-gray-300);
  --mds-background-adaptive-brand-neutral-mid: var(--mds-color-brand-gray-900);
  --mds-background-adaptive-brand-neutral-high: var(--mds-color-brand-gray-1000);
  --mds-background-adaptive-brand-neutral-highest: var(--mds-color-brand-gray-1300);
  --mds-background-adaptive-brand-neutral-disabled: var(--mds-color-brand-gray-200);
  --mds-background-adaptive-brand-primary-lowest: var(--mds-color-brand-bay-blue-200);
  --mds-background-adaptive-brand-primary-low: var(--mds-color-brand-bay-blue-400);
  --mds-background-adaptive-brand-primary-mid: var(--mds-color-brand-bay-blue-1000);
  --mds-background-adaptive-brand-primary-high: var(--mds-color-brand-bay-blue-1100);
  --mds-background-adaptive-brand-primary-highest: var(--mds-color-brand-bay-blue-1300);
  --mds-background-adaptive-brand-secondary-lowest: var(--mds-color-brand-berkshires-green-200);
  --mds-background-adaptive-brand-secondary-low: var(--mds-color-brand-berkshires-green-600);
  --mds-background-adaptive-brand-secondary-mid: var(--mds-color-brand-berkshires-green-1000);
  --mds-background-adaptive-brand-secondary-high: var(--mds-color-brand-berkshires-green-1100);
  --mds-background-adaptive-brand-secondary-highest: var(--mds-color-brand-berkshires-green-1300);
  --mds-background-adaptive-brand-tertiary-lowest: var(--mds-color-brand-independence-cranberry-200);
  --mds-background-adaptive-brand-tertiary-low: var(--mds-color-brand-independence-cranberry-500);
  --mds-background-adaptive-brand-tertiary-mid: var(--mds-color-brand-independence-cranberry-900);
  --mds-background-adaptive-brand-tertiary-high: var(--mds-color-brand-independence-cranberry-1100);
  --mds-background-adaptive-brand-tertiary-highest: var(--mds-color-brand-independence-cranberry-1300);
  --mds-background-adaptive-brand-highlight-mid: var(--mds-color-brand-duckling-yellow-800);
  --mds-background-adaptive-utility-danger-lowest: var(--mds-color-utility-danger-red-100);
  --mds-background-adaptive-utility-danger-low: var(--mds-color-utility-danger-red-300);
  --mds-background-adaptive-utility-danger-mid: var(--mds-color-utility-danger-red-600);
  --mds-background-adaptive-utility-danger-high: var(--mds-color-utility-danger-red-900);
  --mds-background-adaptive-utility-danger-highest: var(--mds-color-utility-danger-red-1300);
  --mds-background-adaptive-utility-warning-lowest: var(--mds-color-utility-warning-yellow-100);
  --mds-background-adaptive-utility-warning-low: var(--mds-color-utility-warning-yellow-300);
  --mds-background-adaptive-utility-warning-mid: var(--mds-color-utility-warning-yellow-900);
  --mds-background-adaptive-utility-warning-high: var(--mds-color-brand-duckling-yellow-1100);
  --mds-background-adaptive-utility-warning-highest: var(--mds-color-utility-warning-yellow-1300);
  --mds-background-adaptive-utility-success-lowest: var(--mds-color-utility-success-green-100);
  --mds-background-adaptive-utility-success-low: var(--mds-color-utility-success-green-300);
  --mds-background-adaptive-utility-success-mid: var(--mds-color-utility-success-green-600);
  --mds-background-adaptive-utility-success-high: var(--mds-color-utility-success-green-900);
  --mds-background-adaptive-utility-success-highest: var(--mds-color-utility-success-green-1300);
  --mds-background-overlay: #00000099;
  --mds-white: var(--mds-color-utility-base-white);
  --mds-black: var(--mds-color-utility-base-black);
  --mds-inverse: var(--mds-color-utility-base-white);

  /** Text Colors **/
  --mds-text-and-icons-brand-neutral-default: var(--mds-color-brand-gray-1300);
  --mds-text-and-icons-brand-neutral-muted: var(--mds-color-brand-gray-900);
  --mds-text-and-icons-brand-neutral-disabled: var(--mds-color-brand-gray-700);
  --mds-text-and-icons-brand-primary-mid: var(--mds-color-brand-bay-blue-1000);
  --mds-text-and-icons-brand-secondary-mid: var(--mds-color-brand-berkshires-green-1000);
  --mds-text-and-icons-utility-danger-mid: var(--mds-color-utility-danger-red-600);
  --mds-text-and-icons-utility-warning-mid: var(--mds-color-utility-warning-yellow-600);
  --mds-text-and-icons-utility-success-mid: var(--mds-color-utility-success-green-900);

  /** Border Colors **/
  --mds-border-brand-neutral-lowest: var(--mds-color-brand-gray-200);
  --mds-border-brand-neutral-low: var(--mds-color-brand-gray-400);
  --mds-border-brand-neutral-mid: var(--mds-color-brand-gray-600);
  --mds-border-brand-neutral-high: var(--mds-color-brand-gray-750);
  --mds-border-brand-primary-lowest: var(--mds-color-brand-bay-blue-200);
  --mds-border-brand-primary-low: var(--mds-color-brand-bay-blue-400);
  --mds-border-brand-primary-mid: var(--mds-color-brand-bay-blue-1000);
  --mds-border-brand-primary-high: var(--mds-color-brand-bay-blue-1100);
  --mds-border-brand-primary-highest: var(--mds-color-brand-bay-blue-1300);
  --mds-border-brand-secondary-lowest: var(--mds-color-brand-berkshires-green-200);
  --mds-border-brand-secondary-low: var(--mds-color-brand-berkshires-green-600);
  --mds-border-brand-secondary-mid: var(--mds-color-brand-berkshires-green-900);
  --mds-border-brand-secondary-high: var(--mds-color-brand-berkshires-green-1100);
  --mds-border-brand-secondary-highest: var(--mds-color-brand-berkshires-green-1300);
  --mds-border-focus-on-light: var(--mds-color-utility-focus-blue-600);
  --mds-border-focus-on-dark: var(--mds-color-utility-focus-blue-300);
  --mds-border-utility-danger-low: var(--mds-color-utility-danger-red-300);
  --mds-border-utility-danger-mid: var(--mds-color-utility-danger-red-600);
  --mds-border-utility-warning-low: var(--mds-color-utility-warning-yellow-300);
  --mds-border-utility-warning-mid: var(--mds-color-utility-warning-yellow-600);
  --mds-border-utility-success-low: var(--mds-color-utility-success-green-300);
  --mds-border-utility-success-mid: var(--mds-color-utility-success-green-600);
}
