/**
 * Corner (border radius) tokens used in the theme.
 *
 */

:root {
  --mds-radius-xs: var(--border-radius-25);
  --mds-radius-sm: var(--border-radius-50);
  --mds-radius-md: var(--border-radius-100);
  --mds-radius-max: var(--border-radius-round);
}
