/**
 * Corners tokens used in the theme.
 *
 */

:root {
  --mds-xs: var(--border-radius-25);
  --mds-sm: var(--border-radius-50);
  --mds-md: var(--border-radius-100);
  --mds-max: var(--border-radius-12500);
}
