/**
 * Elevation/Box Shadow tokens used in the theme.
 *
 */

:root {
  --mds-container-shadow: var(--elevation-offset-none) var(--border-radius-25) var(--elevation-blur-400) 0 var(--mds-container-shadow-opacity);
  --mds-icon-shadow: var(--elevation-offset-none) var(--border-radius-25) var(--elevation-blur-150) 0 var(--mds-icon-shadow-opacity);
  --mds-modal-shadow: var(--elevation-offset-none) var(--elevation-offset-050) var(--elevation-blur-300) 0 var(--mds-modal-shadow-opacity);
  --mds-hover-shadow-sm: var(--elevation-offset-none) var(--elevation-offset-050) var(--elevation-blur-150) 0 var(--mds-hover-shadow-opacity); 
  --mds-hover-shadow-md: var(--elevation-offset-none) var(--elevation-offset-100) var(--elevation-blur-200) 0 var(--mds-hover-shadow-opacity);

/** do not use these opacity tokens directly, only use the ones above. I'm still dialing these in**/
--mds-hover-shadow-opacity: rgba(0, 0, 0, 0.16); /** Figure out proper rgba syntax with vars**/
--mds-icon-shadow-opacity: rgba(0, 0, 0, 0.25); 
--mds-container-shadow-opacity: rgba(0, 0, 0, 0.1); 
--mds-modal-shadow-opacity: rgba(0, 0, 0, 0.14); 

}