/**
 * Spacing tokens used in the theme.
 * TODO: Add media queries for spacing on different screen modes
 *
 */

:root {
  --mds-space3xs: var(--space-50);
  --mds-space2xs: var(--space-100);
  --mds-space-xs: var(--space-150);
  --mds-space-sm: var(--space-200);
  --mds-space-md: var(--space-300);
  --mds-space-lg: var(--space-400);
  --mds-space-xl: var(--space-500);
  --mds-space2xl: var(--space-600);
  --mds-space3xl: var(--space-800);
}
