/**
 * Typography size tokens used in the theme.
 *
 */

:root {
  --mds-text-body: var(--font-size-200) var(--font-family);
  --mds-text-body-bold: var(--font-weight-semibold) var(--font-size-200) var(--font-family);
  --mds-text-body-lg: var(--font-size-225) var(--font-family);
  --mds-text-body-lg-bold: var(--font-weight-semibold) var(--font-size-225) var(--font-family);
  /**--mds-text-line-height-lg**/
}
